<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li class='current'>
          <a routerLink="/item" routerLinkActive="active">Add Item </a>
        </li>
        <li>
          <a routerLink="/home" routerLinkActive="active"> Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active"> About</a>
        </li>
        <li>
          <a routerLink="/profiler" routerLinkActive="active">Profile</a>
        </li>
        <li>
          <a routerLink="/chatRoom" routerLinkActive="active">chatRoom</a>

        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>



<div id='app'>
  <div class="container1">
    <form class="modal-content animate">
      <div class="imgcontainer">
        <h3 style="color: black">Add Item </h3>
      </div>

      <div class="container" style="width:100%">
        <div class=" col-sm-11 col-md-11 col-xs-11">
          <div>

            <input type="text" placeholder="item Name" class="form-control" name="user" [(ngModel)]="name">
          </div>
          <div>

            <select name="type" [(ngModel)]="type">
              <option value="Tools">Tools</option>
              <option value="Clothes">Clothes</option>
              <option value="Fernuture">Fernuture</option>
              <option value="Maintenance">Maintenance</option>
              <option value="Others">Others</option>
            </select>
          </div>

          <div>

            <input type="number" placeholder="Price" class="form-control" name="price" [(ngModel)]="price">
          </div>
          <div>

            <div>
              <input type="text" placeholder="info" class="form-control" name="info" [(ngModel)]="info">
            </div>
            <input type="file" (change)='getFile($event)' name="photo" placeholder="Upload file..." />
            <button type="button" (click)="upload()">Upload</button>
          </div>
        </div>


      </div>

      <div class="container" style="background-color:#35424a ; width:100%">

        <button type="submit" class="btn btn-danger" (click)="submit()">Submit</button>
      </div>
    </form>
  </div>
</div>