<div class="container">
  <div class="well col-md-7 col-sm-offset-2">


    <div class="page-header " class="col-sm-offset-4">
      <h1>
        <small>Contact Us!</small>
      </h1>
    </div>
    <!-- (ngSubmit)="onSubmit(f)" #f="ngForm" -->
    <form class="form-horizontal" enctype="multipart/form-data">
      <div class="form-group">
        <label for="Firstname" class="control-label col-md-2 col-sm-offset-2">Item Name</label>
        <div class=" col-sm-5">
          <div class="input-group">
            <div class="input-group-addon">
              <div class="glyphicon glyphicon-user"></div>
            </div>
            <input type="text" placeholder="item Name" class="form-control" name="user" [(ngModel)]="name">
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="Last Name" class="control-label col-lg-2  col-sm-offset-2">Item Type</label>
        <div class="  col-sm-5">
          <div class="input-group">
            <select name="type" [(ngModel)]="type">
              <option value="Tools">Tools</option>
              <option value="Clothes">Clothes</option>
              <option value="Fernuture">Fernuture</option>
              <option value="Maintenance">Maintenance</option>
              <option value="Others">Others</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="control-label col-lg-2  col-sm-offset-2">price: </label>
        <div class=" col-sm-5">
          <div class="input-group">
            <div class="input-group-addon">
              <div class="glyphicon glyphicon-earphone"></div>
            </div>
            <input type="number" placeholder="Price" class="form-control" name="price" [(ngModel)]="price">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-2  col-sm-offset-2">Massege: </label>
        <div class=" col-sm-5">
          <div class="input-group">
            <div class="input-group-addon">
              <div class="glyphicon glyphicon-earphone"></div>
            </div>
            <input type="text" placeholder="info" class="form-control" name="info" [(ngModel)]="info">
          </div>
        </div>
      </div>
      <!-- <div class="form-group"> -->
      <!-- <label class="control-label col-lg-2  col-sm-offset-2">picture: </label>
                <div class=" col-sm-5">
                <div class="input-group">
                <div class="input-group-addon"><div class="glyphicon glyphicon-earphone"></div></div> -->
      <input type="file" ng2FileSelect [uploader]="uploader" name="photo" placeholder="Upload file..." />
      <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
      <div class="form-group">
        <div class=" col-sm-5 col-lg-offset-4 text-center">
          <button type="submit" class="btn btn-danger btn-lg" (click)="submit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="list" *ngFor="let item of item"    style="border-style: solid">
  {{item.username}}
</div>  
<!-- <button type="submit" class="btn btn-danger btn-lg" (click)="getuser()">getuser</button> -->

