<html>
<head>
  <style>
    font{
      color: x
    }
  </style>
</head>
</html>

<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li >
          <a routerLink="/item" routerLinkActive="active">Add Item </a>
        </li>
        <li>
          <a 
          routerLink="/home" routerLinkActive="active"
          > Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active"> About</a>
        </li>
        <li>
          <a routerLink="/profiler" routerLinkActive="active">Profile</a>
        </li>
        <li class='current'>
          <a routerLink="/chatRoom" routerLinkActive="active"
          >chatRoom</a>

        </li>
          <li>
          <a  routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<div>
  
  <h1 style="text-align:center;color:darkorange">
      &#9787; Let's chat &#9787;
  </h1>
 
 </div>

<div  *ngFor="let chat of chats">
    <div>
   
      <pre><font [style.color]="x">
{{chat.session}}</font>     {{chat.text[0]}} </pre>
    </div>
</div>
  

     
<form action="" style="bottom:10px;position:fixed;"> 
    <input [(ngModel)]="chat" [ngModelOptions]="{standalone: true}" />
    <!-- <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" />
     -->
    
    <button (click)="send()">Send</button>
  </form>
  