<html>
<head>
  <style>
    font{
      color: x
    }
  </style>
</head>
</html>



<div>
  
  <h1 style="text-align:center;color:darkorange">
      &#9787; Let's chat &#9787;
  </h1>
 
 </div>

<div  *ngFor="let chat of chats">
    <div>
   
      <pre><font [style.color]="x">
{{chat.session}}</font>     {{chat.text[0]}} </pre>
    </div>
</div>
  

     
<form action="" style="bottom:10px;position:fixed;"> 
    <input [(ngModel)]="chat" [ngModelOptions]="{standalone: true}" />
    <!-- <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" />
     -->
    
    <button (click)="send()">Send</button>
  </form>
  