<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li >
          <a routerLink="/item" routerLinkActive="active">Add Item </a>
        </li>
        <li>
          <a 
          routerLink="/home" routerLinkActive="active"
          > Home</a>
        </li>
        <li class='current'>
          <a routerLink="/about" routerLinkActive="active"> About</a>
        </li>
        <li>
          <a routerLink="/profiler" routerLinkActive="active">Profile</a>
        </li>
        <li>
          <a routerLink="/chatRoom" routerLinkActive="active"
          >chatRoom</a>

        </li>
          <li>
          <a  routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


   
       <img src="../../../assets/about.jpg"/>
         <p class="oblique">*This Website it helps you to rent or buy stuff (Tools,Clothes,fernuture........) from your nearest neighbor to save your money.</p>
         <p class="oblique">*This Website it helps you to search about maintenance workers from your neighbor.</p>
