<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/item" routerLinkActive="active">Add Item </a>
        </li>
        <li class='current'>
          <a routerLink="/home" routerLinkActive="active"> Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active"> About</a>
        </li>
        <li>
          <a routerLink="/profiler" routerLinkActive="active">Profile</a>
        </li>
        <li>
          <a routerLink="/chatRoom" routerLinkActive="active">chatRoom</a>

        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<section>
  <div class="container gal-container">
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a name="clothes" (click)="clothes()">
          <img src="../../../assets/Clothes.jpg">
          <div class="middle">
            <div class="text">Clothes </div>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a name="tools" (click)="tools()">
          <img src="../../../assets/tools.jpg">
          <div class="middle">
            <div class="text">Tools </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a name="fernuture" (click)="fernuture()">
          <img src="../../../assets/furniture.jpg">
          <div class="middle">
            <div class="text">fernuture </div>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a name="maintenance" (click)="maintenance()">
          <img src="../../../assets/maintenance.png">
          <div class="middle">
            <div class="text">Maintenance </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a name="others" (click)="others()">
          <img src="../../../assets/other2.jpg">
          <div class="middle">
            <div class="text">Other things </div>
          </div>
        </a>

      </div>
    </div>

  </div>
</section>