#container {
    padding:2em;

    #list {
        padding:1em;
        display:block;
        background:#fff;
        margin-bottom:10px;
    }

    button {
        float: right;
        border:none;
        margin-bottom:20px;
        padding:10px;
        background: blueviolet;
        color: #fff;
        width: 100%;
    }

    .col {
        width:33%;
        display:inline-block;
        padding:40px 0;
        color:gray;
        
    }
   
 
}


.container {
    padding: 16px;
} 
img{
  width: 100%;  
}
.containerg{
    padding-top:5%;
    padding-left: 20%;
}

body{
    font-family: Arial,Helvtica,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
 }

 ul{
    margin: 0;
    padding: 0;
 }

 header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    border-bottom: #8cff66 3px solid ;
}
 header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
 }

 header li {
     float: left;
     display: inline;
     padding: 0 20px 0 20px ;  /*(top right bottom left)*/
 }

 header #branding {
    float: left;
}

 header #branding h1{
    margin: 0;
}

 header nav {
    float: right;
    margin-top: 10px;
 }

 header .highlight ,header .current a {
    color:#8cff66;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}




.containerimg {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8cff66;
    opacity: 0.9;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .containerimg:hover .overlay {
    width: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: black;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }