<!--The content below is only a placeholder and can be replaced.-->

<!-- <home></home> -->
<!-- <form>
  <input type="text" name="mazen" [(ngModel)] = "name" >
  <input type="password" name="mazen2" [(ngModel)] = "password" >
  
  <button type="submit" (click)="send()">send</button>
</form> -->

<!-- <login></login> -->
<!-- <signup></signup> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Jerancom Router</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/login">Login Component</a></li>
        <li><a routerLink="/home">Home Component</a></li>
        <li><a routerLink="/item">Item Component</a></li>
      </ul>
    </div>





<div class="container">
    <router-outlet></router-outlet>
  </div>

<!-- <signup></signup> -->

<map></map>


<item></item>

<!-- <login></login> -->

<tools></tools>

