<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/item" routerLinkActive="active">Add Item </a>
        </li>
        <li>
          <a routerLink="/home" routerLinkActive="active"> Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active"> About</a>
        </li>
        <li class='current'>
          <a routerLink="/profiler" routerLinkActive="active">Profile</a>
        </li>
        <li>
          <a routerLink="/chatRoom" routerLinkActive="active">chatRoom</a>

        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="col-sm-12">
  <div class="col-sm-6">
    <div style="color:black;font-weight: 900;font-size:16px; margin-top:5%;margin-left:10%"> My Item </div>
    <div id="container" [@listAnimation]="item.length">
      <div id="list" *ngFor="let item of item " style="border-radius: 25px;border: #adb3ac 3px solid;background:#f6f7f5 ">
        <div @explainerAnim>
          <div class="row content" style="margin-top:20px; height:250px">

            <div class="col-sm-4 sidenav">
              <img src="{{item.picture}}" style=" width:200px;height:200px ;margin-top:20px ;" alt={{item.itemname}} />

            </div>
            <div class="col-sm-8 sidenav" style="margin-top:15px">
              <div class="container-fluid">
                <p style="margin-top:20px">
                  <span style="font-weight:900"> ITEM NAME :</span> {{item.itemname}}</p>
                <p style="margin-top:20px">
                  <span style="font-weight:900">PRICE: </span> {{item.price}}</p>
                <p style="margin-top:20px">
                  <span style="font-weight:900"> TYPE : </span> {{item.itemtype}}</p>
                <p style="margin-top:20px">
                  <span style="font-weight:900"> Rented By: </span> {{item.renter_name}} </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div style="color:#000000;font-weight: 900;font-size:16px; margin-top:5%;margin-left:10%"> Rented Item </div>

    <div id="container" [@listAnimation]="item.length">
      <div id="list" *ngFor="let item of rents" style="border-radius: 25px;border: #adb3ac 3px solid;background:#f6f7f5 ">
        <div @explainerAnim>
          <div class="row content" style="margin-top:20px; height:250px">

            <div class="col-sm-4 sidenav">
              <img src="{{item.picture}}" style=" width:200px;height:200px ;margin-top:20px ;" alt={{item.itemname}} />

            </div>
            <div class="col-sm-8 sidenav" style="margin-top:50px">
              <div class="container-fluid">
                <p style="margin-top:20px">
                  <span style="font-weight:900"> ITEM NAME :</span> {{item.itemname}}</p>
                <p style="margin-top:20px">
                  <span style="font-weight:900">PRICE: </span> {{item.price}}</p>
                <p style="margin-top:20px">
                  <span style="font-weight:900"> TYPE : </span> {{item.itemtype}}</p>
                <p style="margin-top:20px">
                  <span style="font-weight:900"> owned By: </span> {{item.owner_name}} </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>