<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li >
          <a routerLink="/item" routerLinkActive="active">Add Item </a>
        </li>
        <li>
          <a 
          routerLink="/home" routerLinkActive="active"
          > Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active"> About</a>
        </li>
        <li class='current'>
          <a routerLink="/profiler" routerLinkActive="active">Profile</a>
        </li>
        <li>
          <a routerLink="/chatRoom" routerLinkActive="active"
          >chatRoom</a>

        </li>
          <li>
          <a  routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

      
<div class="col-sm-6" style="background:#8cff66">
  <div style="color:black;font-weight: 900;font-size:16px; margin-top:5%;margin-left:10%">  My Item </div>
    <div id="container" [@listAnimation]="item.length">
        <div id="list" *ngFor="let item of item "style="border-style: solid">
          <div @explainerAnim>
            <div class="row">
  <div class="col-sm-5">
                <img src="{{item.picture}}" > </div>
                <div class="col-sm-7">
                
              <div class="row" style="margin-top:10% ;margin-left:20%">
                item :{{item.itemname}}
              </div>
              <div class="row" style="margin-top:10% ;margin-left:20% ">
                price: {{item.price}}
              </div>
              <div class="row" style="margin-top:10% ;margin-left:20%">
                category:{{item.itemtype}}
              </div>

                <div class="row" style="margin-top:10% ;margin-left:20%">
                Rented By:{{item.renter_name}}
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="col-sm-6" style="background:#35424a;">
    <div style="color:#8cff66;font-weight: 900;font-size:16px; margin-top:5%;margin-left:10%">  Rented Item </div>
    
    <div id="container" [@listAnimation]="item.length">
        <div id="list" *ngFor="let item of rents"style="border-style: solid">
          <div @explainerAnim>
            <div class="row">
  
                <img src="{{item.picture}}">
                
              <div class="row" style="margin-top:10% ;margin-left:20%">
                item :{{item.itemname}}
              </div>
              <div class="row" style="margin-top:10% ;margin-left:20% ">
                price: {{item.price}}
              </div>
              <div class="row" style="margin-top:10% ;margin-left:20%">
                category:{{item.itemtype}}
              </div>

                <div class="row" style="margin-top:10% ;margin-left:20%">
                owned By:{{item.owner_name}}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- 
      <div>
        <div class="col-sm-2" style="background:black;height:500px"></div>
        <div class="col-sm-8">
          <div id="container" [@listAnimation]="item.length">
            <div id="list" *ngFor="let item of item "style="border-style: solid">
              <div @explainerAnim>
                <div class="row">
      
                    <img src="../../../{{item.picture}}">
                    
                  <div class="row" style="margin-top:10% ;margin-left:20%">
                    item :{{item.itemname}}
                  </div>
                  <div class="row" style="margin-top:10% ;margin-left:20% ">
                    price: {{item.price}}
                  </div>
                  <div class="row" style="margin-top:10% ;margin-left:20%">
                    category:{{item.itemtype}}
                  </div>

                    <div class="row" style="margin-top:10% ;margin-left:20%">
                    Rented By:{{item.renter_name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="container" [@listAnimation]="item.length">
            <div id="list" *ngFor="let item of rents"style="border-style: solid">
              <div @explainerAnim>
                <div class="row">
      
                    <img src="../../../{{item.picture}}">
                    
                  <div class="row" style="margin-top:10% ;margin-left:20%">
                    item :{{item.itemname}}
                  </div>
                  <div class="row" style="margin-top:10% ;margin-left:20% ">
                    price: {{item.price}}
                  </div>
                  <div class="row" style="margin-top:10% ;margin-left:20%">
                    category:{{item.itemtype}}
                  </div>

                    <div class="row" style="margin-top:10% ;margin-left:20%">
                    owned By:{{item.owner_name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2" style="background:rgb(200, 255, 0);height:500px"></div>
      </div>

     -->