<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/login" routerLinkActive="active">login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id='app'>
  <div class="container1">
    <form class="modal-content animate">
      <div class="imgcontainer">
        <h3 style="color: black">Sign up</h3>
      </div>

      <div class="container" style="width:100%">
        <div class=" col-sm-8 col-md-8 col-xs-8">
          <div>
            <input type="text" placeholder="Enter Username" name="user" [(ngModel)]="name" class="form-control mr-sm-2" required style="width:90%">
          </div>
          <div>
            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" class="form-control mr-sm-2" required
              style="width:90%">
          </div>
          <div>
            <input type="number" placeholder="Enter Phone" name="phone" [(ngModel)]="phone" class="form-control mr-sm-2" required style="width:90%">
          </div>
          <div>
            <input type="email" placeholder="Enter E-mail" name="email" [(ngModel)]="email" class="form-control mr-sm-2" required style="width:90%">
          </div>
        </div>
        <div class=" col-sm-4 col-md-4 col-xs-4   ">
          <map></map>
        </div>

      </div>

      <div class="container" style="background-color:#35424a ; width:100%">

        <button type="submit" style="margin-right:50px;float: left;" class="submitbtn" (click)="submit()">Sign Up</button>
        <a routerLink="/login" routerLinkActive="active" style="color: #8cff66">Login to your account </a>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1>Google Maps Places Autocomplete</h1>
          <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
              #search [formControl]="searchControl">
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>