<header>
  <div class="container">
    <div id="branding">
      <h1>
        <span class='highlight'>JeranCom</span>
      </h1>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/login" routerLinkActive="active">login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<!-- <form class="form-horizontal">
  <div class="form-group">
    <label for="Firstname" class="control-label col-md-2 col-sm-offset-2">User Name</label>
    <div class=" col-sm-5">
      <div class="input-group">
        <div class="input-group-addon">
          <div class="glyphicon glyphicon-user"></div>
        </div>
        <input type="text" placeholder="User Name" class="form-control" name="user" [(ngModel)]="name">
      </div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="Last Name" class="control-label col-lg-2  col-sm-offset-2">Password</label>
    <div class="  col-sm-5">
      <div class="input-group">
        <div class="input-group-addon">
          <div class="glyphicon glyphicon-user  col-sm-offset-1"></div>
        </div>
        <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="password">
      </div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-lg-2  col-sm-offset-2">Phone: </label>
    <div class=" col-sm-5">
      <div class="input-group">
        <div class="input-group-addon">
          <div class="glyphicon glyphicon-earphone"></div>
        </div>
        <input type="number" placeholder="Phone No." class="form-control" name="phone" [(ngModel)]="phone">
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add your location</button>
    <div class=" col-sm-5 col-lg-offset-4 text-center">
      <button type="submit" class="btn btn-danger btn-lg" (click)="submit()">Submit</button>
    </div>
    <div>
      <map></map>
    </div>
  </div>
</form> -->
<div id='app'>
  <div class="container1">
    <form class="modal-content animate">
      <div class="imgcontainer">
        <!-- <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span> -->
        <h3 style="color: black">Sign up</h3>
      </div>

      <div class="container" style="width:100%">
       <div class=" col-sm-8">
          <div>
              <!-- <label style="color: black">
                <b>Username</b>
              </label> -->
              <input type="text" placeholder="Enter Username" name="user" [(ngModel)]="name" class="form-control mr-sm-2" required style="width:90%">
            </div>
            <div>
              <!-- <label style="color: black">
                <b>Password</b>
              </label> -->
              <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" class="form-control mr-sm-2" required
                style="width:90%">
            </div>
            <div>
              <!-- <label style="color: black">
                <b>Phone  </b>
              </label> -->
              <input type="number" placeholder="Enter Phone" name="phone" [(ngModel)]="phone" class="form-control mr-sm-2" required style="width:90%">
            </div>
            <div>
              <!-- <label style="color: black">
                <b>E-mail  </b>
              </label> -->
              <input type="email" placeholder="Enter E-mail" name="email" class="form-control mr-sm-2" required style="width:90%">
            </div>
       </div>
       <div class=" col-sm-4">
         <map></map>
       </div>
    
      </div>

      <div class="container" style="background-color:#35424a ; width:100%">

        <button type="submit" style="margin-right:50px;float: left;" class="submitbtn" (click)="submit()">Sign Up</button>
        <a routerLink="/login" routerLinkActive="active" style="color: #8cff66">Login to your account </a>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1>Google Maps Places Autocomplete</h1>
          <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
              #search [formControl]="searchControl">
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
          <!-- <button type="button" class="btn btn-success" (click)="sendloc()">Save your location</button> -->
        </div>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-default">send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>